<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Examples of HTTP Request</span>
</mat-toolbar>

<div style="display: flex; justify-content: space-around;">

<mat-card class="mat-elevation-z8" style="width: 300px; margin: 30px;">
  <mat-card-header>
    <mat-card-title>Simple GET HTTP</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="simpleReqProductObs$ | async as prods">
      <mat-list-item *ngFor="let p of prods">
        <mat-icon mat-list-icon>shop</mat-icon>
        <h4 mat-line>
          Name: {{p.name}}
        </h4>
        <p mat-line>
          Department: {{p.department}}
        </p>
        <p mat-line>
          Price: {{p.price | currency:'$'}}
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="getSimpleHttp()">
      <mat-icon>swap_vert</mat-icon> Send Request
    </button>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>


<mat-card class="mat-elevation-z8" style="width: 300px; margin: 30px;">
  <mat-card-header>
    <mat-card-title>HTTP ERROR</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul *ngIf="ProductsError">
      <li *ngFor="let p of ProductsError">
        {{p.name}}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="getWithError()">
      <mat-icon>swap_vert</mat-icon> Error Request
    </button>
    <button mat-button color="primary" (click)="getWithErrorOk()">
      <mat-icon>swap_vert</mat-icon> Send Request
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="query" *ngIf="bLoading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<mat-card class="mat-elevation-z8" style="width: 300px; margin: 30px;">
  <mat-card-header>
    <mat-card-title>GET Text From the Server</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let p of productsIds; let i=index">
        <mat-icon mat-list-icon>shop</mat-icon>
        <h4 mat-line *ngIf="p.name != ''">
          {{p.name}}
        </h4>
        <h4 mat-line *ngIf="p.name == ''">
          {{i}}
        </h4>
        <button mat-icon-button (click)="loadName(p._id)" *ngIf="p.name == ''">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="getProductsIds()">
      <mat-icon>swap_vert</mat-icon> Send Request
    </button>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>


<mat-card>
  <mat-card-header>
    <mat-card-title>HTTP Post Request</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div>

      <mat-form-field >
        <input matInput placeholder="Product Name" value="" type="text" #name>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Department" value="" type="text" #dep>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price" value="" type="number" #price>
      </mat-form-field>

    </div>
        
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="saveProduct(name.value, dep.value, price.value)">
      <mat-icon>save</mat-icon> Save
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-chip-list>
      <mat-chip *ngFor="let p of newlyProducts" style="margin-left: 10px; margin-bottom: 10px;"  >
        {{p.name}}
      </mat-chip>
    </mat-chip-list>          	
  </mat-card-footer>
</mat-card> 


</div>
